@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(assets/NoiseOverlay.png);
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: red;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

#active:checked ~ .wrapper {
    clip-path: circle(75%);
}

.menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 52px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    background: #02271B;
    transition:  all 0.3s ease;
}

#active:checked ~ .menu-btn {
    background: #fff;
    color: #ff0000;
}

#active:checked ~ .menu-btn i:before {
    content: "\f00d";
}

.wrapper ul { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 30px 0;
}

.wrapper ul li a {
    color: none;
    color: #19FB9B;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    transform: scaleY(0);
    z-index:-1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #278537;
}

input[type="checkbox"] {
    display: none;
}

.button-container {
    position: relative;
    display: inline-block;
    width: 11.4375rem;
    height: 3rem;
}

.button-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 3px; /* control the border thickness */
    background: linear-gradient(to bottom, #25AAE1, #40E495, #30DD8A, #2BB673);
    -webkit-mask: 
      linear-gradient(#FFFFFE 0 0) content-box, 
      linear-gradient(#FFFFFE 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
    width: 11.4375rem;
    height: 3rem;
}

.cta-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFE;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.cta-hover:hover {
    background-position: 100% 0;
}

.cta-hover:focus {
    outline: none;
}
  
.cta-hover.cta-active{
    background-image: linear-gradient(
      to left,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
}
  
.cta {
    border-radius: 50px;
    width: 11.4375rem;
    height: 3rem;
} 

#cta-backdrop {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: -1;
}

.glass-effect {
    border: 1px solid rgba(255, 255, 255, 0.01);
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(14.600000381469727px);
}

.about-us-title {
    color: #02271B;
    text-transform: capitalize;
    background: linear-gradient(to bottom, rgba(37, 170, 225, 1) 0%, rgba(64, 228, 149, 0.2) 20%, rgba(48, 221, 138, 0.1) 30%, rgba(43, 182, 115, 0) 100%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
    animation: gradient 5s ease infinite;
}

    
@keyframes gradient{
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background:#19FB9B;
    color: #FFFFFE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #02271B solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #25AAE1 solid;
    box-shadow:  0 0 0.8em #278537;
}

.select:hover {
    background:rgba(37, 170, 225, 1)
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #278537;
    border: 1px #30DD8A solid;
    box-shadow: 0 0.5em 1em rgba(255, 255, 255, 0.01);
    border-radius: 0.5em;
    color: #02271B;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #30DD8A;
}

.active {
    background: #19FB9B;
}

.menu-open {
    display: block;
    opacity: 1;
}
