@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: red;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper {
    clip-path: circle(75%);
    
}

.menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 52px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    background: #02271B;
    transition:  all 0.3s ease;
}

#active:checked ~ .menu-btn {
    background: #fff;
    color: #4158d8;
}

#active:checked ~ .menu-btn i:before {
    content: "\f00d";
}

.wrapper ul { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 30px 0;
}

.wrapper ul li a {
    color: none;
    color: #ffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    transform: scaleY(0);
    z-index:-1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);

}

.wrapper ul li a:hover {
    color: #4158d8;

}

input[type="checkbox"] {
    display: none;
}