@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: red;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

#active:checked ~ .wrapper {
    clip-path: circle(75%);
}

.menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 52px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    background: #02271B;
    transition:  all 0.3s ease;
}

#active:checked ~ .menu-btn {
    background: #fff;
    color: #4158d8;
}

#active:checked ~ .menu-btn i:before {
    content: "\f00d";
}

.wrapper ul { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 30px 0;
}

.wrapper ul li a {
    color: none;
    color: #ffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    transform: scaleY(0);
    z-index:-1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #4158d8;
}

input[type="checkbox"] {
    display: none;
}

.button-container {
    position: relative;
    display: inline-block;
    width: 11.4375rem;
    height: 3rem;
}

.button-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 3px; /* control the border thickness */
    background: linear-gradient(to bottom, #25AAE1, #40E495, #30DD8A, #2BB673);
    -webkit-mask: 
      linear-gradient(#FFFFFE 0 0) content-box, 
      linear-gradient(#FFFFFE 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
    width: 11.4375rem;
    height: 3rem;
}

.cta-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFE;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.cta-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.cta-hover:focus {
    outline: none;
}
  
.cta-hover.cta-active{
    background-image: linear-gradient(
      to left,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
}
  
.cta {
    border-radius: 50px;
    width: 11.4375rem;
    height: 3rem;
} 

#cta-backdrop {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: -1;
}

.gradient-text {
    background: linear-gradient(90deg, #009245 0%, #19FB9B 33.33%, #00A8C5 66.67%, #73D83F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}