@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(assets/NoiseOverlay.png);
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: red;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

#active:checked ~ .wrapper {
    clip-path: circle(75%);
}

.menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 52px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    background: #02271B;
    transition:  all 0.3s ease;
}

#active:checked ~ .menu-btn {
    background: #fff;
    color: #ff0000;
}

#active:checked ~ .menu-btn i:before {
    content: "\f00d";
}

.wrapper ul { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 30px 0;
}

.wrapper ul li a {
    color: none;
    color: #19FB9B;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    transform: scaleY(0);
    z-index:-1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #278537;
}

input[type="checkbox"] {
    display: none;
}

.button-container {
    position: relative;
    display: inline-block;
    width: 11.4375rem;
    height: 3rem;
}

.button-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 3px; /* control the border thickness */
    background: linear-gradient(to bottom, #25AAE1, #40E495, #30DD8A, #2BB673);
    -webkit-mask: 
      linear-gradient(#FFFFFE 0 0) content-box, 
      linear-gradient(#FFFFFE 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
    width: 11.4375rem;
    height: 3rem;
}

.cta-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFE;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.cta-hover:hover {
    background-position: 100% 0;
}

.cta-hover:focus {
    outline: none;
}
  
.cta-hover.cta-active{
    background-image: linear-gradient(
      to left,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
}
  
.cta {
    border-radius: 50px;
    width: 11.4375rem;
    height: 3rem;
} 

#cta-backdrop {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: -1;
}

.gradient-text {
    background: linear-gradient(90deg, #009245 0%, #19FB9B 33.33%, #00A8C5 66.67%, #73D83F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glass-effect {
    border: 1px solid rgba(255, 255, 255, 0.01);
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(14.600000381469727px);
}

.banner {
    overflow-x: scroll;
}

.banner::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

@media (max-width: 767px) {
    .blob-motion {
        width: 100vw;
        height: 45vh;
    }

    .blob-motion {
        width: 100%;
        max-width: 650px;
    }
}

.graphics-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-line-left {
    position: absolute;
    left: 0;
    width: 40%;
    border-top: 3px solid #143F00;
    border-radius: 100px;
    z-index: -1;
}

.footer-line-right {
    position: absolute;
    right: 0;
    width: 40%;
    border-top: 3px solid #143F00;
    border-radius: 100px;
    z-index: -1;
}

.footer-icon:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    transform: scale(0.9); /* Increase the size of the icons on hover */
    border-radius: 10px;
    background: #064C35;
    box-shadow: -100px -100px 250px 0px rgba(2, 30, 21, 0.90), 
        100px 100px 200px 0px rgba(10, 122, 85, 0.90), -100px 100px 200px 
        0px rgba(2, 30, 21, 0.20), 100px -100px 200px 0px rgba(2, 30, 21, 0.20), 
        4px 4px 2px 0px rgba(2, 30, 21, 0.50) inset, -4px -4px 2px 0px rgba(10, 122, 85, 0.30) 
        inset;
    transition: all 0.3s; 
}

.footer-menu-link:hover {
    color: #19FB9B;
    transition: all 0.3s; 
}

.footer-logo {
    transition: transform .7s ease-in-out;
}
  .footer-logo:hover {
    transform: rotate(360deg);
}
